<div>
  <div class="absolute hidden left-[12%] md:left-[6.6%] md:flex flex-col items-center">
    <div class="w-px h-24 bg-secondary"></div>
    <img class="z-10 w-4 md:w-20 h-auto" src="assets/images/object_medium.png" alt="Object Medium">
  </div>

  <div class="absolute hidden right-[14%] md:right-[6.6%] md:flex flex-col items-center">
    <div class="w-px h-28 bg-secondary"></div>
    <img class="z-10 w-8 md:w-16 h-auto" src="assets/images/object_small.png" alt="Object Small">
  </div>

  <div class="absolute hidden md:left-[38.8%] md:flex flex-col items-center">
    <div class="w-px md:h-48 bg-secondary"></div>
    <img class="z-10 md:w-8 h-auto" src="assets/images/object_small.png" alt="Object Small">
  </div>

  <div class="absolute hidden md:left-[46.2%] md:right-[46.2%] md:flex flex-col items-center">
    <div class="w-px md:h-20 bg-secondary"></div>
    <img class="z-10 md:w-12 h-auto" src="assets/images/object_small.png" alt="Object Small">
  </div>
</div>
