<button (click)="toggleDescription()" class="text-[#04662e] font-bold py-2 px-4 rounded mt-4 align-middle underline"
  *ngIf=[visible]>
  {{message}}</button>

<p class="text-black text-[8px] text-justify" *ngIf="visible">Válido del 29/04 al 12/05 de 2024, te regalamos un vale de s/ 30 por cada
  s/ 130 de compra en Vestuario, Accesorios, Calzado, Vestuario deportivo, Ropa de cama, Perfumería y Regalería en
  tiendas físicas de Falabella y falabella.com (para productos vendidos por Saga Falabella). Para recibir los vales
  virtuales se deberá entregar el número de DNI del cliente al momento de la compra.
  Redención del vale: 13/05 al 15/05 de 2024 en tiendas físicas de Falabella y falabella.com. Compra mínima para el
  uso de cada vale es el doble del valor del mismo, se deberá abonar el monto restante con cualquier medio de pago.
  Redención del vale para compras en Vestuario, Calzado, Accesorios, Deporte y Ropa de cama. No válido para CT Verde,
  Concesiones y Consignaciones, ni Falabella Atocongo. Ejemplo, para utilizar un vale de S/30 se deberá realizar una
  compra mínima de S/ 60, pagando S/30 con cualquier medio de pago y la diferencia con el vale. Para visualizar los
  vales virtuales se deberá entrar a la página web www.tusvalesfalabella.com e ingresar el número de DNI del cliente.
  El vale no se podrá canjear efectivo y deberá consumirse en su totalidad en una sola transacción. Stock mín de
  vales: S/1,500,000.00. Al participar de la promoción vía
  compras en web, acepta que Saga Falabella S.A. envíe a su correo electrónico el cupón correspondiente a la
  promoción. Más info en Falabella.com SAGA FALABELLA S.A. RUC 20100128056.</p>
